# =============================
# DATABASE
# =============================
DATABASE_URL=

# =============================
# AUTH
# =============================
JWT_SECRET=

# =============================
# SUPABASE
# =============================
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_ATESTADOS_BUCKET=

# =============================
# SERVER
# =============================
PORT=3000

# =============================
# FRONTEND
# =============================
VITE_API_URL=