@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* SCROLLBAR MODERNA */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(124, 93, 250, 0.55),
    rgba(184, 175, 255, 0.55)
  );

  border-radius: 999px;

  transition: all 0.25s ease;

  border: 1px solid rgba(255,255,255,0.04);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(124, 93, 250, 0.82),
    rgba(214, 204, 255, 0.82)
  );
}

/* Firefox */
.custom-scroll {
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}